[submodule "lib/sbgjava"]
	path = lib/sbgjava
	url = git://git.apache.org/httpclient.git
[submodule "lib/httpclient"]
	path = lib/httpclient
	url = git://git.apache.org/httpclient.git
[submodule "lib/httpcore"]
	path = lib/httpcore
	url = git://git.apache.org/httpcore.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/douglascrockford/JSON-java.git
[submodule "lib/commons"]
	path = lib/commons
	url = git://git.apache.org/commons-lang.git
[submodule "lib/jna"]
	path = lib/jna
	url = https://github.com/twall/jna.git
